{include file="header.html"}
<style type="text/css">
.asd {
    width: 20%;
    float: left;
}
.asdd {
    width: 60%;
    float: right;
    display: inline-block;
}

</style>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <form class="form-horizontal" id="form01">
        <div class="top-title">
            <h2 class="sub-header">添加全局配置</h2>
            <div class="top-tools">
                <button type="button" class="btn btn-primary" id="submit">保存</button>
            </div>
        </div>
        <div style="clear:both"></div>
         <div class="form-group">
            <label class="col-sm-2 control-label"><span class="name_span">remark</span><i></i></label>
            <div class="col-sm-7">
                <input type="text" class="form-control" placeholder="备注" name="remark" id="remark" value="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"><span class="name_span">key</span><i>*</i></label>
            <div class="col-sm-7">
                <input type="text" class="form-control name" placeholder="key" name="key" id="key" value="">
            </div>
        </div>
            <!-- <p style="">注：value为二维json格式</p> -->
        <div class="form-group data">
            <label class="col-sm-2 control-label"><span class="name_span">value</span><i>*</i></label>
            <div class="col-sm-7">
                <input type="text" class="form-control asd" placeholder="json_key" name="value_k" id="value" value="">
                <p style="display: inline-block;margin: 5px 0 0 25px">-></p>
                <input type="text" class="form-control asdd" placeholder="json_value" name="value_v" id="" value="">
            </div>
                <input type="button" style="margin-top: 5px" id="add" value="+">
        </div>
        
       
    </form>
    
</div>
 

<script>
    $(function () {
        //提交表单
        $("#submit").click(function () {
            $.ajax({
                "url": "",
                'type': 'POST',
                // 'data': $('#form01').serialize(),
                'data': getJsonData(),
                'dataType': 'json',
                'success': function (data) {
                    if (data.error != 0) {
                        layer.alert(data.message);
                    } else {
                        window.location.href = '{U("admin.php",["c" => I("get.c/s","index"),"a" => "index"])}';
                    }
                }

            });
        });
    });

    function getJsonData(){
        var singleData = {};
        var jsonData = {};
        var remark = {};
        var key = {};
        $('.data').each(function(){
            // console.log($(this).find('input[name=value_k]').val() );
            if($(this).find('input[name=value_k]').val() == '' || $(this).find('input[name=value_v]').val() == '')
                layer.alert('数据不完整');
            singleData[$(this).find('input[name=value_k]').val()] = $(this).find('input[name=value_v]').val();
        });
        remark = $('input[name=remark]').val();
        key = $('input[name=key]').val();
        jsonData['key'] = key;
        jsonData['remark'] = remark;
        jsonData['data'] = singleData;
        return jsonData;
        // return singleData;
    }

    $("#add").click(function(){
      $("#form01").append('<div class="form-group data"><label class="col-sm-2 control-label"><span class="name_span"></span><i></i></label><div class="col-sm-7"><input type="text" class="form-control asd" placeholder="json_key" name="value_k" id="value" value=""><p style="display: inline-block;margin: 5px 0 0 25px">-></p><input type="text" class="form-control asdd" placeholder="json_value" name="value_v" id="" value=""></div><input type="button" style="margin-top: 5px" onclick=wang(this)  value="-"></div>');
    });

    function wang(bbbb){
        $(bbbb).parent().remove();
        // $(this).css("color", "red");
    }
</script>
{include file="footer.html"}