{include file="header.html"}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <form class="form-horizontal" id="form01" action="?c=bank&a=edit" method="post" enctype="multipart/form-data">
        <input type="hidden" name="type" value="{$result['type']}">
        <div class="top-title">
            <h2 class="sub-header">银行卡信息</h2>
            <div class="top-tools">
                <button type="button" class="btn btn-primary edit_bank">保存</button>
                <a class="btn btn-default" href="?c=bank&a=index">返回</a>
            </div>
        </div>
        <div style="clear:both"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label"><span class="name_span">银行名</span><i>*</i></label>
            <div class="col-sm-7">
                <input type="hidden" name="id" value="{$result['bank_id']}">
                <input type="text" class="form-control name" placeholder="银行名" name="bank_name" value="{$result['bank_name']}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"><span class="name_span">银行代码</span><i>*</i></label>
            <div class="col-sm-7">
                <span>{$result['bank_code']}</span>
                <input type="hidden" class="form-control name"  name="bank_code" value="{$result['bank_code']}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"><span class="name_span">银行logo</span><i>*</i></label>
            <div class="col-sm-2" id="img">
                银行logo：<img width="100px;" src="{$imgUrl}{$result['bank_logo']}" />
                <input type="hidden" name="bank_logo_old" value="{$result['bank_logo']}"><br/>
            </div>
        </div>
        {if $result['type']==1}
       <!-- <div class="form-group">
            <label class="col-sm-2 control-label"><span class="name_span">网银渠道ID</span><i>*</i></label>
            <div class="col-sm-7">
                <select class="form-control" name="pc_channel_id">
                    <option>请选择</option>
                    {if isset($lists) && $lists}
                        {foreach $lists as $item}
                            <option {if $result['pc_channel_id']==$item.channel_id}selected=selected{/if} value="{$item.channel_id}">{$item.channel_name}</option>
                        {/foreach}
                    {/if}
                </select>
            </div>
        </div>-->
        <div class="form-group">
            <label class="col-sm-2 control-label"><span class="name_span">pc限额信息</span><i>*</i></label>
            <div class="col-sm-7">
                <script id="editor" type="text/plain" style="width:750px;height:500px;">
                </script>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"><span class="name_span">网银显示</span><i>*</i></label>
            <div class="col-sm-7">
                <select class="form-control" name="is_pc_display">
                    <option {if $result['is_pc_display']==1}selected=selected{/if} value="1">显示</option>
                    <option {if $result['is_pc_display']==2 || $result['is_pc_display']==0}selected=selected{/if} value="2">不显示</option>
                </select>
            </div>
        </div>
        {elseif  $result['type']==2}
        <div class="form-group">
            <label class="col-sm-2 control-label"><span class="name_span">快捷是否显示</span><i>*</i></label>
            <div class="col-sm-7">
                <select class="form-control" name="is_app_display">
                    <option {if $result['is_app_display']==1}selected=selected{/if} value="1">显示</option>
                    <option {if $result['is_app_display']==2 || $result['is_app_display']==0}selected=selected{/if} value="2">不显示</option>
                </select>
            </div>
        </div>
        {/if}
        <hr/>
        <div class="table-responsive">
        </div>
    </form>
</div>
{include file="footer.html"}
<script>

    $(".edit_bank").click(function(){
        var type = $('input[name=type]').val();
        var id = $('input[name=id]').val();
        var bank_name = $('input[name=bank_name]').val();
        var bank_code = $('input[name=bank_code]').val();
        var bank_logo_old=$('input[name=bank_logo_old]').val();
        var is_display='';
        var pc_limit = '';
        if(type==1)
        {
           // channel_id = $('select[name=pc_channel_id]').val();
            is_display=$('select[name=is_pc_display]').val();
            pc_limit = UE.getEditor('editor').getContent();
        }else if(type==2)
        {
           // channel_id = $('select[name=app_channel_id]').val();
            is_display=$('select[name=is_app_display]').val();
        }
        if($.trim(bank_name) == '')
        {
            throwExc('银行名字必须填写');
            return false;
        }
        $.post("?c=bank&a=edit",{
            'id':id,
            'bank_name':bank_name,
            'bank_code':bank_code,
            //'channel_id':channel_id,
            'is_display':is_display,
            'bank_logo_old':bank_logo_old,
            'pc_limit':pc_limit,
            'type':type,
        },function( response ){
            console.log(response);
            if(response.error==100) {
                throwExc(response.msg);
                return false;
            }else if(response.error==200) {
                showSucc(response.msg);
                setTimeout("load()",1000);
            }
        },"json");
    });

    function load(){
        window.location.href="?c=bank&a=index&type="+"{if isset($smarty.get.type)}{$smarty.get.type}{else}1{/if}";
    }
    //var um = UM.getEditor('myEditor');
   // var ue = UE.getEditor('editor');
    var us = UE.getEditor('editor', {
        toolbars: [
            ['fullscreen', 'source', 'undo', 'redo', 'bold', 'italic', 'underline', 'fontborder', 'backcolor', 'fontsize', 'fontfamily', 'justifyleft', 'justifyright', 'justifycenter', 'justifyjustify', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', 'link', 'unlink', 'emotion']
        ],
    }
    );
    us.ready(function() {
        //设置编辑器的内容
        us.setContent('{$result["pc_limit"]}');
    });

</script>