{include file="header.html"}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <h2 class="sub-header">运营中心后台</h2>
    <div class="row-fluid">

        <div class="responsive col-sm-6">

            <div class="dashboard-stat blue">
                <div class="remind">
                即将失效的配置：
                {if $tipArray}
                {foreach $tipArray as $k=>$item}
                    <ul>
                        {if $item}
                        {foreach $item as $key=>$vaule}
                        <li><a href="admin.php?c={$k}&a=upd&id={$vaule['id']}">{$vaule['title']}{$k}-还有{$vaule['remind']}天失效</a></li>
                        {/foreach}
                        {/if}
                    </ul>
                {/foreach}
                {/if}
                </div>
                <a href="#" class="more">
                    配置<i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>

        <!-- <div class="responsive col-sm-6">
            <div class="dashboard-stat green">
                <div class="visual">
                    <i class="glyphicon glyphicon-send"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span id="total_project" class="fixnumber">&nbsp;</span><span class="small">{$userNum}个</span>
                    </div>
                    <div class="desc">网利宝用户</div>
                </div>
                <a href="#" class="more">
                    View more <i class="m-icon-swapright m-icon-white"></i>
                </a>

            </div>

        </div> -->

      <!--  <div class="responsive col-sm-6 fix-offset">

            <div class="dashboard-stat purple">

                <div class="visual">

                    <i class="glyphicon glyphicon-signal"></i>

                </div>

                <div class="details">

                    <div class="number">
                        <span id="total_percent" class="fixnumber">&nbsp;</span><span class="small">%</span>
                    </div>

                    <div class="desc">更多</div>

                </div>
                <a href="#" class="more">

                    View more <i class="m-icon-swapright m-icon-white"></i>

                </a>

            </div>

        </div>-->

       <!-- <div  class="responsive col-sm-6">

            <div class="dashboard-stat yellow">

                <div class="visual">

                    <i class="glyphicon glyphicon-yen"></i>

                </div>

                <div class="details">

                    <div class="number">
                        <span id="total_amount" class="fixnumber">&nbsp;</span><span class="small">元</span>
                    </div>

                    <div class="desc">总人数</div>

                </div>

                <a href="#" class="more">

                    View more <i class="m-icon-swapright m-icon-white"></i>

                </a>

            </div>

        </div>-->

    </div>

</div>
</div>
</div>
</div>
{include file="footer.html"}