{include file="header.html"}
<script src="admin/ckeditor/ckeditor.js"></script>
<script src="admin/ckeditor/adapters/jquery.js"></script>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <form class="form-horizontal" id="form01">
        <div class="top-title">
            <h2 class="sub-header">添加文章</h2>
            <div class="top-tools">
                <button type="button" class="btn btn-primary" id="submit">保存</button>
            </div>
        </div>
        <div style="clear:both"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label"><span class="name_span">标题</span><i>*</i></label>
            <div class="col-sm-7">
                <input type="text" class="form-control name" placeholder="标题" name="title" id="title" value="{$item.title}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"><span class="name_span">分类</span><i>*</i></label>
            <div class="col-sm-7">
                <select class="form-control" name="cateNode">
                    {if $nodeList}
                    {foreach $nodeList as $node}
                    <option value="{$node.id}" {if ($node.id == $item.cate_node)}selected{/if}>{$node.title}</option>
                    {/foreach}
                    {/if}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"><span class="name_span">图片</span><i>*</i></label>
            <div class="col-sm-7">
                <input type="button" class="form-control" name="img" id="img" value="">
                <input type="hidden" class="form-control" placeholder="图片" name="imgUrl" id="imgUrl" value="{$item.img}">
                <img id="img_view" src="{$item.img_url}" width="120px" />
            </div>
        </div>

        <div id="article-input" style="display: none">
            <div class="form-group">
                <label class="col-sm-2 control-label"><span>来源名称</span><i>*</i></label>
                <div class="col-sm-7">
                    <input type="input" class="form-control" name="resource_name" value="{$item.res_name}">
                </div>

            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label"><span>来源URL</span><i>*</i></label>
                <div class="col-sm-7">
                    <input type="input" class="form-control" name="resource_url" value="{$item.res_url}">
                </div>

            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"><span class="name_span">内容</span><i>*</i></label>
            <div class="col-sm-7">
                <!-- <input type="hidden" class="form-control" name="content" id="content" value="">
                <script type="text/plain" id="myEditor" style="width:750px;height:240px;"></script> -->
                <textarea name="content" id="editor1" rows="10" cols="80">
                {$item.content}
                </textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"><span class="name_span">排序</span><i>*</i></label>
            <div class="col-sm-7">
                <input type="text" class="form-control name" placeholder="相同位置越大越靠前" name="sort" id="sort" value="{$item.sort}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"><span class="name_span">状态</span><i>*</i></label>
            <label class="radio-inline">
                <input type="radio" name="status" id="status_no" value="0" {if $item.status == 0}checked{/if}> 禁用
            </label>
            <label class="radio-inline">
                <input type="radio" name="status" id="status_yes" value="1" {if $item.status == 1}checked{/if}> 启用
            </label>
        </div>
    </form>
</div>

<script type="text/javascript">
    
    $(document).ready(function(){  
        $('textarea#editor1').ckeditor();  
    }); 
</script>

<script type="text/javascript">
    $(function () {
        $('#img').uploadify({
            'buttonText': '选择图片',

            'fileObjName': 'filename',
            'swf': 'admin/uploadify/uploadify.swf',

            'uploader': "{$url}",
            'onUploadSuccess': function (file, data, response) {
                var data = JSON.parse(data);
                if (data.err_code == 0) {
                    filejosn = $.parseJSON(data.err_msg);
                    $.each(filejosn, function (index, imgval) {
                        if (index == 'filename') {
                            $("#imgUrl").val(imgval.name);
                            $("#img_view").attr('src', imgval.url);
                            $("#img_view").show();
                        }
                    });
                } else {
                    layer.alert(data.err_msg);
                }

            }
        });
    });
</script>
<script>
    $(function () {
        //提交表单
        $("#submit").click(function () {
            //$("#content").val(window.ue.getContent());
            $.ajax({
                "url": "",
                'type': 'POST',
                'data': $('#form01').serialize(),
                'dataType': 'json',
                'success': function (data) {
                    if (data.error != 0) {
                        layer.alert(data.message);
                    }
                    else {
                        window.location.href = '{U("admin.php",["c" => I("get.c/s","index"),"a"=>"index"])}';
                    }
                }

            });
        });
    });

    var is_res = "{$item.res_name}"; //是否是有res_name 判断类型 不太好哈
    if (is_res){
        $("#article-input").show();
    }
</script>
{include file="footer.html"}