{include file="header.html"}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <form class="form-horizontal" id="form01">
        <div class="top-title">
            <h2 class="sub-header">编辑收益配置</h2>
            <div class="top-tools">
                <button type="button" class="btn btn-primary" id="submit">保存</button>
            </div>
        </div>
        <div style="clear:both"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label"><span class="name_span">名称</span><i>*</i></label>
            <div class="col-sm-7">
                <input type="text" class="form-control name" placeholder="名称" name="title" id="title" value="{$item.title}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"><span class="name_span">收益最大金额</span><i>*</i></label>
            <div class="col-sm-7">
                <input type="text" class="form-control" placeholder="链接地址" name="amounts" id="amounts" value="{$item.amount}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"><span class="name_span">邀请最大人数</span><i>*</i></label>
            <div class="col-sm-7">
                <input type="text" class="form-control name" placeholder="收益最大金额" name="head_count" id="head_count" value="{$item.head_count}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"><span class="name_span">描述</span><i>*</i></label>
            <div class="col-sm-7">
                <input type="text" class="form-control name" placeholder="相同位置越大越靠前"  name="desc" id="desc" value="{$item.desc}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"><span class="name_span">开始时间</span><i>*</i></label>
            <div class="col-sm-7">
                <input type="text" class="form-control" placeholder="开始时间" name="startTime" id="startTime" value="{$item.start_time}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"><span class="name_span">结束时间</span><i>*</i></label>
            <div class="col-sm-7">
                <input type="text" class="form-control name" placeholder="结束时间" name="endTime" id="endTime" value="{$item.end_time}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"><span class="name_span">状态</span><i>*</i></label>
            <label class="radio-inline">
                <input type="radio" name="status" id="status_no" value="0" {if $item.status == 0}checked{/if}> 禁用
            </label>
            <label class="radio-inline">
                <input type="radio" name="status" id="status_yes" value="1" {if $item.status == 1}checked{/if}> 启用
            </label>
        </div>
    </form>
</div>

<script>
    $("#startTime").datetimepicker({
        language:'zh-CN',
    });
    $("#endTime").datetimepicker({
        language:'zh-CN'
    });
</script>

<script>
    $(function () {
        //提交表单
        $("#submit").click(function () {
            $.ajax({
                "url": "",
                'type': 'POST',
                'data': $('#form01').serialize(),
                'dataType': 'json',
                'success': function (data) {
                    if (data.error != 0) {
                        layer.alert(data.message);
                    }
                    else {
                        window.location.href = '{U("admin.php",["c" => I("get.c/s","index"),"a"=>"index"])}';
                    }
                }

            });
        });
    });
</script>
{include file="footer.html"}