{include file="header.html"}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <form class="form-horizontal" id="form01">
        <div class="top-title">
            <h2 class="sub-header">添加资金管理配置</h2>
            <div class="top-tools">
                <button type="button" class="btn btn-primary" id="submit">保存</button>
            </div>
        </div>
        <div style="clear:both"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label"><span class="name_span">名称</span><i>*</i></label>
            <div class="col-sm-7">
                <input type="text" class="form-control name" placeholder="名称" name="name" id="name" value="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"><span class="name_span">描述信息</span><i>*</i></label>
            <div class="col-sm-7">
                <input type="text" class="form-control name" placeholder="描述信息" name="remark" id="remark" value="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"><span class="name_span">配置值</span><i>*</i></label>
            <div class="col-sm-7">
                <input type="text" class="form-control name" placeholder="请写数值" name="config_value" id="config_value" value="">
            </div>
        </div>
    </form>
</div>
<script>
    $(function () {
        //提交表单
        $("#submit").click(function () {
            $.ajax({
                "url": "?c=config&a=add",
                'type': 'POST',
                'data': $('#form01').serialize(),
                'dataType': 'json',
                'success': function (data) {
                    if (data.error != 0) {
                        layer.alert(data.message);
                    }
                    else {
                        window.location.href = '?c=config&a=lst';
                    }
                }

            });
        });
    });
</script>
{include file="footer.html"}