{include file="header.html"}
<style>
    .adminstatus { cursor:pointer;}
</style>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="top-title">
        <h2 class="sub-header">用户购买金额配置</h2>
        <div class="top-tools">
            <a href="?c=config_purchase&a=add"class="btn btn-primary">增加用户购买金额配置</a>
            <!--<a href="?c=config&a=upd"class="btn btn-primary">更新管理配置</a>-->
        </div>
    </div>
    <div style="clear:both"></div>
    <div id="myTabContent" class="tab-content" style="margin-top:10px">
        <!-- start 已上线 -->
        <div class="table-responsive tab-pane fade in active" id="no2">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th >id</th>
                    <th >金额</th>
                    <th >状态</th>
                    <th >创建时间</th>
                    <th >操作</th>
                </tr>
                </thead>
                <tbody>
                {if $list}
                {foreach $list as $k=>$item}
                <tr>
                    <td>{$item.id}</td>
                    <td>{$item.amount}</td>
                    <td>
                        {if $item.status == 1}
                        <span class="adminstatus adminonline">启用</span>
                        {else}
                        <span class="adminstatus adminoffline">禁用</span>
                        {/if}
                    </td>
                    <td>{$item.create_time}</td>
                    <td>
                        <a href="{U('admin.php',['c'=>'config_purchase','a'=>'upd','id'=> $item.id])}" class="btn btn-success btn-xs">编辑</a>
                    </td>
                </tr>
                {/foreach}
                {/if}
                </tbody>
            </table>
        </div>
    </div>

</div>
</div>
</div>
</body>

{include file="footer.html"}
