{include file="header.html"}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
     <div class="top-title">
            <h2 class="sub-header">修改管理员</h2>
            <div class="top-tools">
              <a class="btn btn-default" href="?c=admin_user">返回</a>
            </div>
          </div>
    <div id="myTabContent" class="tab-content" style="margin-top:10px">

        <!-- start 线下合同 -->
        <div class="tab-pane fade in active" id="no2">

            <form class="form-horizontal"   method="post" >

                <div class="form-group">
                    <label class="col-sm-2 control-label">管理员昵称：</label>
                    <div class="col-sm-7">
                        <input type="text" name="name" value="{$userInfo.name}" class="form-control" placeholder="管理员昵称">
                    </div>
                </div>
                
                 <div class="form-group">
                      <label  for="inputSelect" class="col-sm-2 control-label">选择角色：</label>
                      <div class="col-sm-7">
                          <div class="input-group">
                              <select class="form-control" name="role" id="role">
                                  {foreach from=$roleList key=k item=val}
                                  <option value="{$val.id}" {if $userInfo.role_id== $val.id}selected{/if}>{$val.name}</option>
                                  {/foreach}
                              </select>
                      <span class="input-group-btn">
                        <button class="btn btn-default addbank" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                      </span>
                          </div>
                      </div>
                  </div>
                <div class="form-group">
                    <label  for="inputSelect" class="col-sm-2 control-label">状态：</label>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <select class="form-control" name="is_del" id="is_del">
                                {foreach from=$status key=k item=val}
                                <option value="{$k}" {if $userInfo.is_del == $k}checked{/if}>{$val}</option>
                                {/foreach}
                            </select>
                      <span class="input-group-btn">
                        <button class="btn btn-default addbank" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                      </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-7">
                        <input type="hidden" name="id" value="{$userInfo.id}">
                        <button type="button" class="btn btn-primary add_company pull-right" >提交</button>
                    </div>

                </div>


            </form>

        </div>
        <!-- end 线下合同 -->


    </div>
    <hr/>




</div>



<script>

    var saving = false;
    $('#form02').submit(function()
    {
        saving = true;
    });

    window.onbeforeunload = function() {
        if (saving)
            return;
        if(is_form_changed()) {
            return "您的修改内容还没有保存，您确定离开吗？";
        }
    }

</script>

<script>

    $(".add_company").click(function(){
        var name=$('input[name=name]').val();
        var is_del=$('#is_del').val();
        var role=$("#role").val();
        var id=$('input[name=id]').val();
        if($.trim(name)==''){
            throwExc('昵称必须填写');
            return false;
        }
        if(isNaN(role)){
           throwExc('请选择角色');
            return false;
        }
        $.post("?c=admin_user&a=edit",{
            'id':id,
            'role':role,
            'is_del':is_del,
            'username':name
        },function( response ){
            if(response.error==100) {
                throwExc(response.msg);
                return false;
            }else if(response.error==200) {
                showSucc(response.msg);
                setTimeout("load()",1000);
            }
        },"json");
    });

    function load(){
        window.location.href="?c=admin_user&a=index";
    }


</script>
{include file="footer.html"}