{include file="header.html"}
<style>
    .adminstatus { cursor:pointer;}
</style>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="top-title">
        <h2 class="sub-header">客户信息列表&nbsp;&nbsp;<small>共{if isset($total)}{$total}{/if}条数据</small></h2>
    </div>
    <div style="clear:both"></div>
    <form name="form1" class="form-inline" method="get" action="">
        <input  type="hidden" name="c" value="{$smarty.get.c}"/>
        <input  type="hidden" name="a" value="{$smarty.get.a}"/>
        <div class="form-group">
            <div class="form-group">
                <select id="type" name="type" class="form-control">
                    <option {if isset($smarty.cookies.customer_type) && $smarty.cookies.customer_type =='phone_num'}selected{/if} value="phone_num">按手机号查询</option>
                    <option {if isset($smarty.cookies.customer_type) && $smarty.cookies.customer_type =='phone_num'}selected{/if} value="user_name">按姓名查询</option>
                    <option {if $sessionObj->get('userData.admin_user.serach.queryType')=='id_number'}selected{/if} value="id_number">按身份证号查询</option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" value="{if isset($smarty.cookies.customer_value)}{$smarty.cookies.customer_value}{/if}" name="context">
            </div>
            <div class="form-group">
                开始时间:<input type="text" class="form-control" value="{if isset($smarty.cookies.customer_start_time)}{$smarty.cookies.customer_start_time}{/if}" name="start_time" id="datepicker">
            </div>
            <div class="form-group">
                结束时间:<input type="text" class="form-control" value="{if isset($smarty.cookies.customer_end_time)}{$smarty.cookies.customer_end_time}{/if}" name="end_time" id="datepicker1">
            </div>
            <button type="submit" class="btn btn-default" onClick="form1.submit();">查询</button>
        </div>

    </form>
    <script>
        $("#datepicker").datetimepicker();
        $("#datepicker1").datetimepicker();
    </script>

    <div id="myTabContent" class="tab-content" style="margin-top:10px">
        <!-- start 已上线 -->
        <div class="table-responsive tab-pane fade in active" id="no2">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th >id</th>
                    <th >用户账号</th>
                    <th >用户名</th>
                    <th >注册渠道</th>
                    <th >身份证号</th>
                    <th >最后登录时间</th>
                    <th >注册时间</th>
                    <th >状态</th>
                    <th >操作</th>
                </tr>
                </tr>
                </thead>
                <tbody>
                {if $lists && is_array($lists)}
                {foreach $lists as $item}
                <tr>
                    <td>{$item.id}</td>
                    <td>{$item.phone}</td>
                    <td>{$item.realname}</td>
                    <td>{if $item.from_platform}{$item.from_platform}{else}未知{/if}</td>
                    <td>{$item.id_number}</td>
                    <td>{$item.last_login}</td>
                    <td>{$item.create_time}</td>
                    <td>
                        {if $item.is_active == 1}
                        <span class="adminstatus adminoffline">正常</span>
                        {else}
                        <span class="adminstatus adminonline">禁用</span>
                        {/if}
                    </td>
                    <td>
                        <a href="?c=user&a=detail&id={$item.id}" class="btn btn-primary btn-xs szpq">详情</a>
                        {if $item.is_active ==1}
                        <a href="javascript:void(0);"  class="btn btn-danger btn-xs status">禁用</a>
                        {else}
                        <a href="javascript:void(0);"  class="btn btn-primary btn-xs status">启用</a>
                        {/if}

                    </td>
                </tr>
                {/foreach}
                {/if}
                </tbody>
            </table>
            <div>{if isset($pageNum)}{$pageNum}{/if}</div>
        </div>
        <!-- end 已上线 -->
    </div>

</div>
</div>
</div>
</body>
<script type="text/javascript">
    $(function(){
        $(".status").click(function(){
            var id=$(this).parent().parent().find('td:first').html();
            var msg=$(this).html();
            if(confirm('你确定要'+msg+"吗？")){
                window.location.href="?c=user&a=del&id="+id;
            }
        });
    })
</script>
{include file="footer.html"}
