{include file="header.html"}
<style>
    .adminstatus { cursor:pointer;}
</style>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="top-title">
        <h2 class="sub-header">用户列表</h2>
        <!--<div class="top-tools">
            <a href="?c=company&a=add"class="btn btn-primary">增加企业用户</a>
        </div>-->
    </div>
    <div style="clear:both"></div>
    {include file="search.html"}
    <!--<a href="?c=user&a=add" class="btn btn-success">添加</a>-->

    <div id="myTabContent" class="tab-content" style="margin-top:10px">
        <!-- start 已上线 -->
        <div class="table-responsive tab-pane fade in active" id="no2">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th >id</th>
                    <th >用户账号</th>
                    <th >用户名</th>
                    <th >注册渠道</th>
                    <th >身份证号</th>
                    <th >用户等级</th>
                    <th >最后登录时间</th>
                    <th >注册时间</th>
                    <th>选择用户</th>
                    <th >状态</th>
                    <th >邀请人ID</th>
                    <th >操作</th>
                </tr>
                </tr>
                </thead>
                <tbody>
                {if $lists && is_array($lists)}
                {foreach $lists as $item}
                <tr id="onlinetr_{$item.id}">
                    <td class="id">{$item.id}</td>
                    <td>{$item.phone}</td>
                    <td>{$item.realname}</td>
                    <td>{if $item.from_channel}{$item.from_channel}{else}未知{/if}</td>
                    <td>{$item.id_number}</td>
                    <td>{if $item.level==-1}非会员{else}会员{$item.level}级{/if}</td>
                    <td>{$item.last_login}</td>
                    <td>{$item.create_time}</td>
                    <td>
                        {if $sessionObj->get('userData.admin_user.serach.userId')==$item.id}
                            <span class="adminstatus adminoffline">已选择用户</span>
                        {else}
                            <span class="adminstatus adminonline selectuser">请选择用户</span>
                        {/if} 
                    </td>
                    <td>
                        {if $item.is_active == 1}
                        <span class="adminstatus adminoffline">正常</span>
                        {else}
                        <span class="adminstatus adminonline">禁用</span>
                        {/if}
                    </td>
                    <td>{$item.from_user_id}</td>
                    <td>
                       <!-- <a href="?c=user&a=detail&id={$item.id}" class="btn btn-primary btn-xs szpq">详情</a>-->
                        {if $item.is_active ==1}
                        <a href="javascript:void(0);"  class="btn btn-danger btn-xs status">禁用</a>
                        {else}
                        <a href="javascript:void(0);"  class="btn btn-primary btn-xs status">启用</a>
                        {/if}
                        <a href="javascript:;" class="btn btn-primary btn-xs szpq edit_phone " data-id="{$item.id}" data-toggle="modal" data-target="#myModal">更改手机号</a>
                       <!--
                       <a href="?c=user&a=proUserInfo&id={$item.id}&username={$item.username}&dis_name={$item.display_name}" class="btn btn-primary btn-xs szpq">用户数据</a>
                       -->
                    </td>
                </tr>
                {/foreach}
                {/if}
                </tbody>
            </table>
        </div>
        <!-- end 已上线 -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <form class="form-inline" method="post" action="?c=user&a=edit_phone">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">修改手机号</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label ><span class="name_span">更改的手机号</span></label>
                                <input type="text" class="form-control name"  name="new_phone" value="">
                            </div>
                            <input type="hidden" name="id" value="" id="uid">
                            <input type="hidden" name="type" value="1">
                        </div>
                        <div class="modal-footer">
                            <button type="submit"  class="btn btn-default" >提交</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>
</div>
</div>
</body>
<script type="text/javascript">
    $(function(){
        $(".status").click(function(){
            var id=$(this).parent().parent().find('td:first').html();
            var msg=$(this).html();
            if(confirm('你确定要'+msg+"吗？")){
                window.location.href="?c=user&a=del&id="+id;
            }
        });
    })
    $('.selectuser').click(function(){
        var userId=$(this).parent().parent().find('td:first').html();
        $.ajax({
            //提交数据的类型 POST GET
            type:"POST",
            //提交的网址
            url:"?c=user&a=setSearchUserId",
            //提交的数据
            data:{ id:userId},
            //成功返回之后调用的函数
            success:function(response){
                response = $.parseJSON(response);
                if(response.error==100) {
                    throwExc(response.msg);
                    return false;
                }else if(response.error==200) {
                    showSucc(response.msg);
                    setTimeout("load()",1000);
                }
            }
        });
    })
    function load(){
        window.location.href="?c=user&a=index";
    }
    $('.edit_phone').click(function(){
        $("#uid").val($(this).attr("data-id"));
    })
</script>
{include file="footer.html"}
