{include file="header.html"}
<style type="text/css">
  .collapsed .expander{
    background-image:url('admin/images/toggle-collapse-dark.png');
  }
  .expander .expander{
       background-image:url('admin/images/toggle-expand-dark.png');
  }
</style>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

          <h2 class="sub-header">节点列表&nbsp;&nbsp;<small>node</small></h2>

           <a href="?c=admin_node&a=add" class="btn btn-success">添加</a>

          <div id="myTabContent" class="tab-content" style="margin-top:10px">

             <!-- start 已上线 -->
          <div class="table-responsive tab-pane fade in active" id="no2">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                 	<!-- <th><input type="checkbox"></th> -->
          					<th colspan="1" rowspan="1">编号</th>
          					<th >应用</th>
          					<th >菜单名称</th>
          					<th >创建时间</th>
          					<th >状态</th>
	                <th >操作</th>
                </tr>
                </tr>
              </thead>
              <tbody>
      				{foreach from=$nodeList item=items }
        				<tr class="initialized parent collapsed expander" id="tr{$items.id}">
          					<td><span style="padding-left: 20px"{if $items.show==1} class="expander"{/if} onclick="tr_show({$items.id})"></span><span>{$items.id}</span></td>
          					<td>{$items.controller}</td>
          					<td>{$items.remark}</td>
               			<td>{$items.create_time}</td>
               			<td>
               				{if $items.status ==Model\Pub::STATUS_DISABLE}
               				<span class="adminstatus adminoffline">{$items.nodeStatus}</span>
               				{else}
               				<span class="adminstatus adminonline">{$items.nodeStatus}</span>
               				{/if}
               			</td>
                    <td>
                      <a href="?c=admin_node&a=edit&id={$items.id}" class="btn btn-primary btn-xs szpq">编辑</a>
                    {if $items.status ==Model\Pub::STATUS_ENABLE}
                      <a href="javascript:void(0);"  class="btn btn-danger btn-xs status">禁用</a>  
             				{else}
             				  <a href="javascript:void(0);"  class="btn btn-primary btn-xs status">启用</a>
             				{/if}  
                               
                    </td>
  				      </tr>
                {foreach from=$items.child item=childList }
                    <tr class="initialized parent collapsed expander show{$items.id}" style="margin-left: 20px; display:none" id="tr{$childList.id}">
                       <td><span style="padding-left: 20px;margin-left: 15px;"{if $childList.show==1} class="expander"{/if} onclick="tr_show({$childList.id})"></span><span >{$childList.id}</span></td>
                      <td>{$childList.controller}</td>
                      <td>&nbsp;&nbsp;├─{$childList.remark}</td>
                      <td>{$childList.create_time}</td>
                      <td>
                        {if $childList.status ==Model\Pub::STATUS_DISABLE}
                        <span class="adminstatus adminoffline">{$childList.nodeStatus}</span>
                        {else}
                        <span class="adminstatus adminonline">{$childList.nodeStatus}</span>
                        {/if}
                      </td>
                        <td>
                          <a href="?c=admin_node&a=edit&id={$childList.id}" class="btn btn-primary btn-xs szpq">编辑</a>
                        {if $childList.status ==Model\Pub::STATUS_ENABLE}
                          <a href="javascript:void(0);"  class="btn btn-danger btn-xs status">禁用</a>  
                        {else}
                          <a href="javascript:void(0);"  class="btn btn-primary btn-xs status">启用</a>
                        {/if}  
                                
                        </td>
                    </tr>
                   {foreach from=$childList.child item=actionList }
                      <tr class="initialized parent collapsed expander show{$childList.id}" style="margin-left: 20px; display:none" id="tr{$actionList.id}">
                        <td><span style="padding-left: 20px;margin-left: 15px;"{if $actionList.show==1} class="expander"{/if} onclick="tr_show({$actionList.id})"></span><span >{$actionList.id}</span></td>
                        <td>{$actionList.controller}</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└─ {$actionList.remark}</td>
                        <td>{$actionList.create_time}</td>
                        <td>
                          {if $actionList.status ==Model\Pub::STATUS_DISABLE}
                          <span class="adminstatus adminoffline">{$actionList.nodeStatus}</span>
                          {else}
                          <span class="adminstatus adminonline">{$actionList.nodeStatus}</span>
                          {/if}
                        </td>
                          <td>
                            <a href="?c=admin_node&a=edit&id={$actionList.id}" class="btn btn-primary btn-xs szpq">编辑</a>
                          {if $actionList.status ==Model\Pub::STATUS_ENABLE}
                            <a href="javascript:void(0);"  class="btn btn-danger btn-xs status">禁用</a>  
                          {else}
                            <a href="javascript:void(0);"  class="btn btn-primary btn-xs status">启用</a>
                          {/if}  
                          </td>
                      </tr>
                  {/foreach}
                {/foreach}
				  {/foreach}
              </tbody>
            </table>
            <!--  <div>{$pagination_link}</div> -->
          </div>
             <!-- end 已上线 -->
          </div>

        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript">
  	$(function(){
  		$(".status").click(function(){
        var parent=$(this).parent().parent()
  			var id=parent.find('td:first span').eq(1).html();
  			var msg=parent.find('.adminstatus').html();
  			if(msg=='显示'){
                msg='隐藏';
  			}else{
                msg='显示';
  			}
  			if(confirm('你确定要'+msg+"吗？")){
  				window.location.href="?c=admin_node&a=del&id="+id;
  			}
  		});
  	})
        function tr_show(data){
          var show= $('.show'+data);
          $("#tr"+data).toggleClass('expander');
          show.toggle(); 
        }
  </script>
