{include file="header.html"}
<style type="text/css">
    h2{ text-align: center;}
</style>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
     <div class="top-title">
            <h2 class="sub-header">修改体验金信息</h2>
            <div class="top-tools">
              <a class="btn btn-default" href="?c=experience&a=index">返回</a>
            </div>
          </div>
    <div id="myTabContent" class="tab-content" style="margin-top:10px">

        <!-- start 线下合同 -->
        <div class="tab-pane fade in active" id="no2">

            <form class="form-horizontal"   method="post" >
                <h2>加息劵信息</h2>
                <!--红包的基本信息-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">用户id：</label>
                    <div class="col-sm-7">
                        <input type="text" name="user_id" value="{$list['user_id']}" class="form-control" placeholder="用户id">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">来源id：</label>
                    <div class="col-sm-7">
                        <input type="text" name="source_id" value="{$list['source_id']}" class="form-control" placeholder="来源id">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">体验金名称：</label>
                    <div class="col-sm-7">
                        <input type="text" name="name" value="{$list['name']}" class="form-control" placeholder="红包名称">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">体验金金额：</label>
                    <div class="col-sm-7">
                        <input type="text" name="amount" value="{$list['amount']}" class="form-control" placeholder="体验金金额">
                    </div>
                </div>
                <div class="form-group">
                    <label for="effective_end" class="col-sm-2 control-label">有效期起始时间：</label>
                    <div class="col-sm-7">
                        <input type="text" name="effective_start" id="effective_start" value="{$list['effective_start']}" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="effective_end" class="col-sm-2 control-label">有效期结束时间：</label>
                    <div class="col-sm-7">
                        <input type="text" name="effective_end" id="effective_end" value="{$list['effective_end']}" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">可用平台：</label>
                    <div class="col-sm-7">
                        <input type="text" name="platform" value="{$list['platform']}" class="form-control" placeholder="可用平台">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">限制说明：</label>
                    <div class="col-sm-7">
                        <input type="text" name="limit_desc" value="{$list['limit_desc']}" class="form-control" placeholder="限制说明">
                    </div>
                </div>
                <div class="form-group">
                    <label  for="is_use" class="col-sm-2 control-label">是否已使用：</label>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <select class="form-control" name="is_use" id="is_use">
                                <option  {if $list['is_use']==1}selected{/if}  value="1">已使用</option>
                                <option {if $list['is_use']==0}selected{/if}  value="0">未使用</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!--用户的基本信息 end-->
                <div class="form-group">
                    <div class="col-sm-7">
                        <input type="hidden" name="id" value="{$list.id}">
                        <button type="button" class="btn btn-primary edit_experience pull-right" >提交</button>
                    </div>
                </div>


            </form>

        </div>
        <!-- end 线下合同 -->
    </div>
    <hr/>
</div>

<script>
    $('#effective_start').datetimepicker();
    $('#effective_end').datetimepicker();
</script>
<script>

    $(".edit_experience").click(function(){
        var id = $('input[name=id]').val();
        var user_id = $('input[name=user_id]').val();
        var source_id = $('input[name=source_id]').val();
        var name = $('input[name=name]').val();
        var amount = $('input[name=amount]').val();
        var effective_start=$('input[name=effective_start]').val();
        var effective_end=$('input[name=effective_end]').val();
        var platform=$('input[name=platform]').val();
        var limit_desc=$('input[name=limit_desc]').val();
        var is_use=$('select[name=is_use]').val();
        if(user_id == '')
        {
            throwExc('用户id必须填写');
            return false;
        }
        if(source_id == '')
        {
            throwExc('来源ID必须填写');
            return false;
        }
        if($.trim(name) == '')
        {
            throwExc('体验金名称必须填写');
            return false;
        }
        if($.trim(effective_start) == '')
        {
            throwExc('有效期开始时间必须填写');
            return false;
        }
        if($.trim(effective_end)==''){
            throwExc('有效期结束时间必须填写');
            return false;
        }
        if(effective_end < effective_start )
        {
            throwExc('有效期开始时间必须大于有效期结束时间');
            return false;
        }
        $.post("?c=experience&a=edit",{
            'id':id,
            'user_id':user_id,
            'source_id':source_id,
            'name':name,
            'amount':amount,
            'effective_start':effective_start,
            'effective_end':effective_end,
            'platform':platform,
            'limit_desc':limit_desc,
            'is_use':is_use,
        },function( response ){
            console.log(response);
            if(response.error==100) {
                throwExc(response.msg);
                return false;
            }else if(response.error==200) {
                showSucc(response.msg);
                setTimeout("load()",1000);
            }
        },"json");
    });

    function load(){
        window.location.href="?c=experience&a=index";
    }
</script>
{include file="footer.html"}