{include file="header.html"}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="top-title">
        <h2 class="sub-header">用户提现&nbsp;&nbsp;<small>共{$total}条数据</small></h2>
        <div class="top-tools">
          <!--  <a href="?c=withdraw&a=add"class="btn btn-primary">增加用户提现</a>-->
        </div>
    </div>
    <div style="clear:both"></div>
    {include file="search.html"}
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th >用户ID</th>
                <th >提现金额</th>
                <th >实际到账</th>
                <th >手续费</th>
                <th >银行卡号</th>
                <th >银行名称</th>
                <th >提现平台</th>
                <th >错误提示</th>
                <th >状态</th>
                <th >创建时间</th>
                <th >更新时间</th>
            </tr>
            </thead>
            <tbody>
            {if $lists}
            {foreach $lists as $item}
            <tr>
                <td>{$item.user_id}</td>
                <td>{$item.source_amount}</td>
                <td>{$item.amount}</td>
                <td>{$item.fee}</td>
                <td>{$item.bank_account}</td>
                <td>{$item.bank_name}</td>
                <td>{$item.from_platform}</td>
                <td>{$item.error_message}</td>
                <td>{if $item.status==200}成功{elseif $item.status==100}处理中{else}失败{/if}</td>
                <td>{$item.create_time}</td>
                <td>{$item.update_time}</td>
            </tr>
            {/foreach}
            {/if}
            </tbody>
        </table>
    </div>
    <div>{$pageLink}</div>
    {include file="footer.html"}