<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="accounts/jquery.min.js"></script>
</head>
<body>

<div id="registerForm" class="login-form">
    <div class="registerFormDiv">
        <form action="" method="post">
        <ul class="registerForm">
            <li class="clearfix">
                <label>用户名 ：</label>
                <input id="registerMobile" type="text" name="username" placeholder="请输入手机号" autocomplete="off" title="请输入手机号" class="placeholderInput checkMobile">
            </li>
            <br/>

            <li id="passWordInput" class="pwdLi clearfix">
                <label>输入密码 ：</label>
                <input type="password" name="password" placeholder="请输入密码" autocomplete="off" title="请输入密码">
            </li>

        </ul>

        <div class="form_bottom">

            <br/>
            <div class="form_submit clearfix">
                <button id="loginSubmit" class="submitFormStyle">提交</button>
            </div>
        </div>
        </form>
    </div>
</div>

</body>
</html>