{include file="header.html"}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="top-title">
        <h2 class="sub-header">站内信&nbsp;&nbsp;<small>共{if isset($total)}{$total}{/if}条数据</small></h2>
    </div>
    <div style="clear:both"></div>
    {include file="search.html"}
    <ul id="myTab" class="nav nav-tabs">
        <li active="form01"class="{if $smarty.get.status eq 'all' or $smarty.get.status eq ''}active{/if}"><a href="?c=message&a=index&status=all">
            全部</a>
        </li>
        <li active="form02"class="{if $smarty.get.status eq 'withdraw'}active{/if}"><a href="?c=message&a=index&status=withdraw">
            提现通知</a>
        </li>
        <li active="form02"class="{if $smarty.get.status eq 'pay'}active{/if}"><a href="?c=message&a=index&status=pay">
            充值通知</a>
        </li>
        <li active="form02"class="{if $smarty.get.status eq 'coupon'}active{/if}"><a href="?c=message&a=index&status=coupon">
            活动奖励</a>
        </li>
        <li active="form02"class="{if $smarty.get.status eq 'amortize'}active{/if}"><a href="?c=message&a=index&status=amortize">
            项目还款</a>
        </li>
        <li active="form02"class="{if $smarty.get.status eq 'purchase'}active{/if}"><a href="?c=message&a=index&status=purchase">
            投标成功</a>
        </li>
        <li active="form02"class="{if $smarty.get.status eq 'activityintro'}active{/if}"><a href="?c=message&a=index&status=activityintro">
            活动介绍</a>
        </li>
    </ul>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th >id</th>
                <th >标题</th>
                <th >类型</th>
                 <th >内容</th>
                <th >发送时间</th>
                <th >查看状态</th>
                <th >查看时间</th>
            </tr>
            </thead>
            <tbody>
            {if $lists}
            {foreach $lists as $item}
            <tr>
                <td>{$item.id}</td>
                <td>{$item.title}</td>
                <td>{$item.messgeType}</td>
                <td>{$item.content}</td>
                <td>{$item.send_time}</td>
                <td>{if $item.read_status==0}未查看{else}查看{/if}</td>
                <td>{date("Y-m-d H:i:s",$item.created_at)}</td>
            </tr>
            {/foreach}
            {/if}
            </tbody>
        </table>
    </div>
    <div>{if isset($pageNum)}{$pageNum}{/if}</div>
    {include file="footer.html"}