{include file="header.html"}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="top-title">
        <h2 class="sub-header">修改资产信息</h2>
        <div class="top-tools">
            <a class="btn btn-default" href="?c=margin&a=index">返回</a>
        </div>
    </div>
    <div id="myTabContent" class="tab-content" style="margin-top:10px">

        <!-- start 线下合同 -->
        <div class="tab-pane fade in active" id="no2">

            <form class="form-horizontal"   method="post" >

                <div class="form-group">
                    <label class="col-sm-2 control-label">总资产：</label>
                    <div class="col-sm-7">
                        <input type="text" name="total_amount" value="{$list.total_amount}" class="form-control" placeholder="总资产">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">可用余额：</label>
                    <div class="col-sm-7">
                        <input type="text" name="avaliable_amount" value="{$list.avaliable_amount}" class="form-control" placeholder="可用余额">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">代收本金：</label>
                    <div class="col-sm-7">
                        <input type="text" name="principal_amount" value="{$list.principal_amount}" class="form-control" placeholder="代收本金">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">提现中金额：</label>
                    <div class="col-sm-7">
                        <input type="text" name="withdrawing_amount" value="{$list.withdrawing_amount}" class="form-control" placeholder="提现中金额">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">投资中金额：</label>
                    <div class="col-sm-7">
                        <input type="text" name="invset_amount" value="{$list.invset_amount}" class="form-control" placeholder="投资中金额">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-7">
                        <input type="hidden" name="user_id" value="{$list.user_id}">
                        <button type="button" class="btn btn-primary edit_margin pull-right" >提交</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- end 线下合同 -->
    </div>
    <hr/>
</div>
<script>

    $(".edit_margin").click(function(){
        console.log('11');
        var invset_amount=$('input[name=invset_amount]').val();//投资中金额
        var withdrawing_amount=$('input[name=withdrawing_amount]').val();//提现中的金额
        var principal_amount=$('input[name=principal_amount]').val();//代收本金
        var avaliable_amount=$('input[name=avaliable_amount]').val();//可用余额
        var total_amount=$('input[name=total_amount]').val();//总资产
        var user_id=$('input[name=user_id]').val();//用户id
        if($.trim(total_amount)==''){
            throwExc('总资产必须填写');
            return false;
        }
        if($.trim(avaliable_amount)==''){
            throwExc('可用余额必须填写');
            return false;
        }
        if($.trim(principal_amount)==''){
            throwExc('代收本金必须填写');
            return false;
        }

        $.post("?c=margin&a=edit",{
            'user_id':user_id,
            'total_amount':total_amount,
            'avaliable_amount':avaliable_amount,
            'principal_amount':principal_amount,
            'withdrawing_amount':withdrawing_amount,
            'invset_amount':invset_amount
        },function( response ){
            if(response.error==100) {
                throwExc(response.msg);
                return false;
            }else if(response.error==200) {
                showSucc(response.msg);
                setTimeout("load()",1000);
            }
        },"json");
    });

    function load(){
        window.location.href="?c=margin&a=index";
    }


</script>
{include file="footer.html"}